@import url('https://fonts.googleapis.com/css?family=Paytone+One');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.show-image {
margin: 0 auto;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.panel-title {
    font-weight: bold;
}

.bg-black, .panel-default > .panel-heading.bg-black {
    background-color: #000000;
    color: #FFFFFF;
}

.button-area {
    margin-top: 15px;
    text-align: center;
}

.character-details-box {
    border: 1px solid #ddd;
    height: 122px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.jumbotron h1 {
    font-family: 'Paytone One', sans-serif;
}

/*.timer {
    position: fixed;
}*/